controllers/ArmController/Modelle/*
controllers/ArmController/DataSet/*
__pycache__/**
*.pyc
*.code-workspace
*.pth
controllers/ArmController/DataSet/*
controllers/ArmController/DataSet*.zip
controllers/ArmController/DataSet*