*.aux  
./*/*.aux
*.toc
*.out
*.log
*.ist
*.ilg
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.glo
*.gls
*.ist
*.glg
*.glsdefs
*.glossary
*.acn
*.acr
*.alg
*.nav
*.nlo
*.nlg
*.nls
*.nls
*.glg
